@import './src/variables.scss';
@import './src/people.scss';
@import './src/blocks/person.scss';

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

