.person {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 10px 0;
    border-radius: 10px 10px 0 0;
    position: relative;
    transition: transform 1s ease;

    &__photo {
        position: relative;
        margin-bottom: $spacing-2;
    }

    &__photo-image {
        display: block;
        width: $card-width;
        height: $card-width;
        border-radius: $radius-border;
        transition: border-radius 1s ease-out;       
    }

    &__photo-rank {
        display: block;
        width: $spacing-8;
        height: $spacing-8;
        border-radius: $radius-border;
        color: $color-rank-text;
        background-color: $color-background-main;
        font-weight: $font-weight-700;
        font-size: $spacing-4;
        text-align: center;
        line-height: $spacing-8;
        position: absolute;
        top: calc(50% - $spacing-4);
        left: 158px;
    }

    &__details-name {
        display: block;
        color: $color-main-text;
        font-weight: $font-weight-700;
        font-size: $spacing-5;
        text-align: center;
    }

    &__details-extra {
        position: absolute;
        width: 100%;
        display: none;
        // display: flex;
        justify-content: center;
        color: $color-extra-text;
        font-weight: $font-weight-400;
        font-size: ($spacing-5 - 2);
        text-align: center;
        padding: 9px 10px $spacing-4;
        border-radius: 0 0 10px 10px;
        // background: red;
        margin: 0 -10px;

        &-sport {
            &::after {
                content: ', ';
            }
        }

        &-pay {
            &::before {
                content: ' $';
                padding-left: 2px;
            }

            &::after {
                content: 'M';
            }
        }
    }

    &:hover {       
        background-color: $color-background-hover;
        transform: scale(1.2);
        z-index: 1;

        .person__details-extra {
        background-color: $color-background-hover;
        display: block;
        }

        .person__photo-image {
            border-radius: $radius-border-hover;
        }
    }
}

// .temp {
//     display: none;
// }