@mixin on-750 {
  @media (min-width: $width-750) {
    @content;
  }
}

@mixin on-1000 {
  @media (min-width: $width-1000) {
    @content;
  }
}

@mixin on-1500 {
  @media (min-width: $width-1500) {
    @content;
  }
}

.people {
    --columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), ($card-width + $spacing-5));
    gap: 40px 10px;
    justify-content: center;
    padding: 30px 35px;

    @include on-750() {
    --columns: 2;
    padding-inline: 160px;
    }

    @include on-1000() {
    --columns: 4;
    padding-inline: 55px;
  }

    @include on-1500() {
    --columns: 4;
  }


}


