$width-500: 500px;
$width-750: 750px;
$width-1000: 1000px;
$width-1500: 1500px;

$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-7: 28px;
$spacing-8: 32px;

$card-width: 200px;
$card-height: 231px;
$radius-border: $card-width;
$radius-border-rank: $spacing-8;
$color-main-text: #2F4F4F;
$color-rank-text: #8B0000;
$color-background-main: #FFFFFF;
$color-background-hover: #EEEEEE;

$font-weight-700: 700;



